html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.logo{
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
  margin-left: 9rem;
}

.logo img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.logo h2{
  padding: 0.66rem 1rem;
  font-size: 1rem;
}

.banner{
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.bannertext{
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  position: relative;
}

.bannertext h2{
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.bannertext h1{
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3em;
}

.navlinks li{
  display: none;
}

.navlinks{
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

a{
  padding: 0 3.15rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.prod{
  background-color: white;
  margin-top: 0;
}
.product_grid{
  background-color: white;
  display: flex;
  justify-content: center;
}

.pen, .watch, .sunglasses{
  border: 4px solid black;
  margin: 3rem;
  display: block;
  justify-content: space-around;
}

.products{
  max-width: 30%;
}

.products img{
  height: 9rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sunglasses .products img{
  height: auto;
  margin: 3rem auto 2.30rem auto;
}

.productlabel{
  display: block;
  background-color: black;
  text-align: center;
  position: relative;
  padding: 0.5rem;
}

.info{
  display: flex;
}

p{
  color: black;
  padding-top: 1%;
  margin-bottom: 4rem;
}

.loc {
  max-width: 35%;
  min-width: 28%;
  margin-left: 12%;
  position: relative;
}

.loc h2{
  padding: 1.25rem 2rem;
  background-color: black;
  text-align: left;
}

.hours {
  max-width: 35%;
  min-width: 28%;
  margin-left: 20%;
  position: relative;
}

.hours h2{
  padding: 1.25rem 2rem;
  background-color: black;
  text-align: left;
}

footer{
  display: flex;
  text-align: left;
  padding: 5rem;
}

footer h2{
  margin: 0 5%;
}

@media only screen and (max-width: 1024px){
    /* ruleset for laptop */
    .logo{
      margin: 3% 8%;
    }

    .banner{
      height: 15rem;
    }

    .bannertext{
      top: 4.75rem;
      left: 3rem;
      width: 15rem;
      padding: 1.5rem 1.5rem;
      background-color: black;
      position: relative;
    }

    .bannertext h2{
      font-size: .70rem;
      font-weight: normal;
      display: block;
    }

    .bannertext h1{
      padding-top: 0.50rem;
      font-size: 1.1rem;
    }

    .navlinks{
      text-align: center;
    }

    .navlinks li{
      display: flex;
      justify-content: center;
    }

    .navlinks a{
      display: none;
    }

/*Work on getting hover to show nav*/
    .navlinks li:hover a{
    
    }
