html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
  background-color: black;
}

.logo{
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: black;
  margin-left: 9rem;
}

.logo img{
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.logo h2{
  padding: 0.66rem 1rem;
  font-size: 1rem;
}

.banner{
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.bannertext{
  top: 9rem;
  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;
  position: relative;
}

.bannertext h2{
  font-size: 1rem;
  font-weight: bold;
  display: block;
}

.bannertext h1{
  padding-top: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
}

nav{
  background-color: firebrick;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

a{
  padding: 0 3.15rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
